<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.ExpensesTypeMapper">
    
    <resultMap type="ExpensesType" id="ExpensesTypeResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectExpensesTypeVo">
        select id, type from expenses_type
    </sql>

    <select id="selectExpensesTypeList" parameterType="ExpensesType" resultMap="ExpensesTypeResult">
        <include refid="selectExpensesTypeVo"/>
        <where>  
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectExpensesTypeById" parameterType="Long" resultMap="ExpensesTypeResult">
        <include refid="selectExpensesTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertExpensesType" parameterType="ExpensesType" useGeneratedKeys="true" keyProperty="id">
        insert into expenses_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateExpensesType" parameterType="ExpensesType">
        update expenses_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteExpensesTypeById" parameterType="Long">
        delete from expenses_type where id = #{id}
    </delete>

    <delete id="deleteExpensesTypeByIds" parameterType="String">
        delete from expenses_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>