<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.UserMapper">
    
    <resultMap type="User" id="UserResult">
        <result property="id"    column="id"    />
        <result property="userAccount"    column="user_account"    />
        <result property="userPassword"    column="user_password"    />
        <result property="userPermissions"    column="user_permissions"    />
        <result property="userNickname"    column="user_nickname"    />
        <result property="userPhone"    column="user_phone"    />
        <result property="userEmail"    column="user_email"    />
        <result property="userSex"    column="user_sex"    />
    </resultMap>

    <sql id="selectUserVo">
        select id, user_account, user_password, user_permissions, user_nickname, user_phone, user_email, user_sex from user
    </sql>

    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>  
            <if test="userAccount != null  and userAccount != ''"> and user_account = #{userAccount}</if>
            <if test="userPassword != null  and userPassword != ''"> and user_password = #{userPassword}</if>
            <if test="userPermissions != null  and userPermissions != ''"> and user_permissions = #{userPermissions}</if>
            <if test="userNickname != null  and userNickname != ''"> and user_nickname like concat('%', #{userNickname}, '%')</if>
            <if test="userPhone != null  and userPhone != ''"> and user_phone = #{userPhone}</if>
            <if test="userEmail != null  and userEmail != ''"> and user_email = #{userEmail}</if>
            <if test="userSex != null  and userSex != ''"> and user_sex = #{userSex}</if>
        </where>
    </select>
    
    <select id="selectUserById" parameterType="Long" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userAccount != null">user_account,</if>
            <if test="userPassword != null">user_password,</if>
            <if test="userPermissions != null">user_permissions,</if>
            <if test="userNickname != null">user_nickname,</if>
            <if test="userPhone != null">user_phone,</if>
            <if test="userEmail != null">user_email,</if>
            <if test="userSex != null">user_sex,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userAccount != null">#{userAccount},</if>
            <if test="userPassword != null">#{userPassword},</if>
            <if test="userPermissions != null">#{userPermissions},</if>
            <if test="userNickname != null">#{userNickname},</if>
            <if test="userPhone != null">#{userPhone},</if>
            <if test="userEmail != null">#{userEmail},</if>
            <if test="userSex != null">#{userSex},</if>
         </trim>
    </insert>

    <update id="updateUser" parameterType="User">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userAccount != null">user_account = #{userAccount},</if>
            <if test="userPassword != null">user_password = #{userPassword},</if>
            <if test="userPermissions != null">user_permissions = #{userPermissions},</if>
            <if test="userNickname != null">user_nickname = #{userNickname},</if>
            <if test="userPhone != null">user_phone = #{userPhone},</if>
            <if test="userEmail != null">user_email = #{userEmail},</if>
            <if test="userSex != null">user_sex = #{userSex},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="Long">
        delete from user where id = #{id}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        delete from user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>